# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# strapi
strapi-backend/.tmp/
strapi-backend/.cache/
strapi-backend/build/
strapi-backend/.env